<p class="text-center">
<font size="6">Editar Contato </font>
</p>

<%= render 'form' %>

<div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
    </div>
 </div>

<div class="col-lg-10">
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-5">

       <%= link_to 'Mostrar', @contato, class: "btn btn-primary" %> |
		<%= link_to 'Voltar', contatos_path, class: "btn btn-primary" %>
    </div>
 </div>
 </div>