

<p class="text-center">
<font size="6">Novo Contato </font>
</p>

<%= render 'form' %>

<div class="col-lg-10">
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-5">
    <%= link_to 'Voltar', :back , class: "btn btn-primary"%>
    </div>
 </div>
 </div>
