// Place all the styles related to the contatos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contatos{
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.contatos .admin{
	display: none;
}

.contatos.hover{
	background: #FAFAFA;
}

.contatos.hover .admin{
	display: inline;
}